{% extends 'base/base.html' %}

{% block title %}Novedades{% endblock %}

{% block content1 %}
<div class="full-box">
<h2 align="left">Novedades  </h2>
    <div class="container-fluid">
				<div class="table-responsive">
					<table border="1" class="table table-dark table-sm">
						<thead align="left">
							<tr class="text-center roboto-medium">
                                <tr><th>FECHA</th><th>TITULO</th><th>MENSAJE</th>
                                {% if perms.novedades.change_novedades %}<th>ACCIONES</th>{% endif %}
                            </tr>
                        </thead>
                            {% for n in object_list %}

                                <tr>
                                    <td align="left">{{ n.fecha }}</td>
                                    <td align="left">{{ n.titulo }} </td>
                                    <td align="left">{{ n.mensaje }}</td>
                                    {% if perms.novedades.change_novedades %}
                                    <td><a class="btn btn-primary" href="{% url 'novedades:modificarN' n.id %}">modificar</a>
                                        <a class="btn btn-primary" href="{% url 'novedades:eliminarN' n.id %}">eliminar</a> </td>
                                    {% endif %}

                               </tr>
                            {% endfor %}
                    </table>
                </div>
    </div>
        <a class="btn btn-raised btn-secondary btn-sm" href="{% url 'practicasMedicas:index' %}">VOLVER</a>
        {% if perms.novedades.add_novedades %}
        <a class="btn btn-raised btn-info btn-sm" href="{% url 'novedades:subir' %}">SUBIR NUEVA NOVEDAD</a>
        {% endif%}

</div>
{% endblock %}
