{% extends 'base/base.html' %}

{% block title %}Eliminar Novedad{% endblock %}

{% block content1 %}
<form method="post">
    {% csrf_token %}
<div class="full-box">
    <h2 align="center"><i class="fas fa-exclamation fa-fw"></i>¿Desea eliminar el registro de {{object}}?</h2>
    <div class="container-fluid">
        <div align="center" class="table-responsive">
                    <br>
                    <a class="btn btn-raised btn-secondary btn-sm" role="button" href="{% url 'novedades:mostrarN' %}"> Cancelar </a>
                    <button class="btn btn-raised btn-info btn-sm" type="submit"> SI, eliminar</button>
        </div>
    </div>
</div>


</form>
{% endblock %}
