{% extends 'base/base.html' %}

{% block title %}Centros Médicos{% endblock %}

{% block content1 %}
<div class="full-box">
<h2>Centros Médicos</h2>
<div class="container-fluid">
				<div class="table-responsive">
					<table class="table table-dark table-sm">
						<thead>
							<tr class="text-center roboto-medium" align="left">

                                <th align="left">RAZON SOCIAL</th>
                                <th align="left">LOCALIDAD</th>
                                <th align="left">DOMICILIO</th>
                                <th align="left">TELEFONO</th>
                                <th align="left">EMAIL</th>

                            </tr>
                         </thead>
                            {% for centromedico in object_list %}
                                     <tr>
                                         <td>{{ centromedico.razonSocial }}</td>
                                         <td>{{ centromedico.localidad }}</td>
                                         <td>{{ centromedico.domicilio }}</td>
                                         <td>{{ centromedico.telefono }}</td>
                                         <td>{{ centromedico.e_mail }}</td>

                                     </tr>


                            {% endfor %}
                    </table>
                </div>
</div>
{% endblock %}