{% extends 'base/base.html' %}

{% block title %}Cirugía{% endblock %}


{% block content1 %}
<form method="post">
    {%  csrf_token %}
 <fieldset>
   		<legend align="left"><i class="fas fa-laptop-medical fa-fw"></i> &nbsp; Información básica - Registrar nueva cirugía</legend>
           <div class="container-fluid">
                <div class="table-responsive">
					<table class="table table-dark table-sm">
						<tr>
                            <td><label class="bmd-label-floating">Fecha Recepción</label>{{ form.fecha_ingreso}}</td>
                            <td><label class="bmd-label-floating">Beneficiario</label>{{ form.beneficiario}} </td>
                        </tr>
                        <tr>
                            <td><label class="bmd-label-floating">Centro Médico</label>{{ form.centromedico}} </td>
                        </tr>
                        <tr>
                            <td><label class="bmd-label-floating">Doctor Solicitante</label>{{ form.doctor}} </td>
                        </tr>
                       <!-- <tr>
                            <td> <label class="bmd-label-floating">Motivo cirugía</label>{{ form.cirugia}}</td>
                        </tr> -->
                        <tr>

                            <td><label class="bmd-label-floating">Fecha cirugía</label>{{ form.fecha_cirugia}}</td>
                            <td><label class="bmd-label-floating">Tipo cirugía</label>{{ form.tipo_cirugia}}</td>
                            <td><label class="bmd-label-floating">Observaciones</label>{{ form.observaciones}}</td>

                        </tr>
                        <tr>
                            <td><label class="bmd-label-floating">¿Requiere material?</label>{{ form.material}} </td>
                            <td><label class="bmd-label-floating">¿Tiene prequirúrgicos?</label>{{ form.prequirurgicos}} </td>
                             <td><label class="bmd-label-floating">Estado</label>{{ form.estado_clave}} </td>
                            <td><label class="bmd-label-floating">Importe Coseguro</label>{{ form.importe_coseguro}} </td>

                        </tr>
                    </table>
                </div>

           </div>
    <button type="reset" class="btn btn-raised btn-secondary btn-sm"> Limpiar<div class="ripple-container"></div></button>
    <button type="submit" class="btn btn-raised btn-info btn-sm"> Guardar <div class="ripple-container"></div></button>
 </fieldset>
</form>
{% endblock %}