{% extends 'base/base.html' %}

{% block title %}Listado Pedidos{% endblock %}

{% block content1 %}
<div class="full-box">
<h2 align="left">Listado Pedidos </h2>
    <form method="get" action="{% url 'practicasMedicas:listarP' %}">
        {% csrf_token %}
        <p>Pedidos: <input type="text" name="filter"/></p>
        <p><input type="submit" name="submit" value="submit"/></p>
    </form>
    <div class="container-fluid">
				<div class="table-responsive">
					<table class="table table-dark table-sm">
						<thead>
							<tr class="text-center roboto-medium">
                                <tr><th>NRO </th><th>BENEFICIARIO</th><th>FECHA</th><th>ACCIONES</th></tr>
                        </thead>
                            {% for d in object_list %}
                                <tr>
                                    <td>{{ d.idPedido}}</td>
                                    <td>{{ d.beneficiario}} </td>
                                    <td>{{ d.fecha_ingreso}}</td>

                                    <td><a class="btn btn-primary" href="{% url 'practicasMedicas:modificar' d.id %}">modificar</a>
                                </tr>
                            {% endfor %}
                    </table>
                </div>
    </div>
    <a class="btn btn-primary" href="#" target="_blank">IMPRIMIR LISTADO</a>
    <a class="btn btn-primary" href="{% url 'practicasMedicas:index' %}">VOLVER</a>
</div>
{% endblock %}