{% extends 'base/base.html' %}

{% block title %}Beneficiarios afiliados {% endblock %}

{% block content1 %}
<div class="full-box">
<h2 align="left">Listado Pedidos ambulatorios - Beneficiarios Afiliados - {{ d.fecha_ingreso}}</h2>
    <form method="get" action="{% url 'practicasMedicas:listarP' %}">
        {% csrf_token %}
        <p>Pedidos: <input type="text" name="filter"/></p>
        <p><button type="submit" class="btn btn-raised btn-info"><i class="fas fa-search"></i> &nbsp; BUSCAR</button>
            </p>
    </form>
    <div class="container-fluid">
				<div class="table-responsive">
					<table class="table table-dark table-sm">
						<thead>
							<tr class="text-center roboto-medium">
                                <tr><th>NRO </th><th>BENEFICIARIO</th><th>ACCIONES</th></tr>
                        </thead>
                            {% for d in object_list %}
                                <tr>
                                    <td>{{ d.idPedido}}</td>
                                    <td>{{ d.beneficiario}} </td>

                                    <td><a class="btn btn-primary" href="{% url 'practicasMedicas:modificar' d.id %}">modificar</a>
                                </tr>
                            {% endfor %}
                    </table>
                </div>
    </div>
    <a class="btn btn-raised btn-secondary btn-sm" role="button" href="{% url 'practicasMedicas:index' %}">VOLVER</a>
    <a class="btn btn-raised btn-info btn-sm" role="button" href="{% url 'practicasMedicas:listarP' %}" target="_blank">IMPRIMIR LISTADO</a>

</div>
{% endblock %}