{% extends 'base/base.html' %}

{% block title %}Doctores{% endblock %}

{% block content1 %}
<div class="full-box">
<h2>Doctores</h2>
<div class="container-fluid">
				<div class="table-responsive">
					<table class="table table-dark table-sm">
						<thead>
							<tr class="text-center roboto-medium" align="left">

                                <th align="left">MATRICULA</th>
                                <th align="left">NOMBRE</th>
                                <th align="left">DOMICILIO</th>
                                <th align="left">TELEFONO</th>
                                <th align="left">EMAIL</th>
                                <th align="left">CONVENIO</th>
                                <th align="left">ACCIONES</th>
                            </tr>
                         </thead>
                            {% for doctor in object_list %}
                                     <tr>
                                         <td>{{ doctor.matriculaDoc }}</td>
                                         <td>{{ doctor.apellidos }} {{ doctor.nombre}}</td>

                                      <!-- Mostrar todas las especialidades de un doctor
                                        {% for espe in doctor.especialidad.all %}
                                         <td><ul>{{ espe.nombre }}</ul> </td>
                                                {% endfor %} -->

                                         <td>{{ doctor.domicilio }}</td>
                                         <td>{{ doctor.telefono }}</td>
                                         <td>{{ doctor.email }}</td>
                                         <td>{{ doctor.convenioOSECAC }}</td>
                                         <td><a class="btn btn-primary" href="#">modificar</a>
                                         <td><a class="btn btn-primary" href="#">eliminar</a>
                                     </tr>


                            {% endfor %}
                    </table>
                </div>
                <a class="btn btn-primary" href="{% url 'doctores:reporteDoc' %}" target="_blank">IMPRIMIR LISTADO</a>
                <a class="btn btn-primary" href="{% url 'practicasMedicas:index' %}">VOLVER</a>
</div>
{% endblock %}