{% extends 'base/base.html' %}

{% block title %}Doctores{% endblock %}

{% block content1 %}
<div class="full-box">
<h2>Doctores</h2>
<div class="container-fluid">
				<div class="table-responsive">
					<table class="table table-dark table-sm">
						<thead>
							<tr class="text-center roboto-medium" align="left">

                                <th align="left">MP</th>
                                <th align="left">NOMBRE</th>
                                <th align="left">CONVENIO</th>
                                <th align="left">ACCIONES</th>
                            </tr>
                         </thead>
                            {% for doctor in object_list %}
                                     <tr >
                                         <td><a>{{ doctor.matriculaMP }}</a></td>
                                         <td>{{ doctor.apellidos | upper }} {{ doctor.nombre | upper}}</td>

                                      <!-- Mostrar todas las especialidades de un doctor
                                        {% for espe in doctor.especialidad.all %}
                                         <td><ul>{{ espe.nombre }}</ul> </td>
                                                {% endfor %} -->


                                         <td>{{ doctor.convenioOSECAC }}</td>
                                         <td><a class="btn btn-primary" href="{% url 'doctores:modificar' doctor.cuit %}">modificar</a>
                                             <a class="btn btn-primary" href="#">eliminar</a></td>
                                     </tr>


                            {% endfor %}
                    </table>
                </div>
                <a class="btn btn-raised btn-secondary btn-sm" role="button" href="{% url 'practicasMedicas:index' %}">VOLVER</a>
                <a class="btn btn-raised btn-info btn-sm" role="button" href="{% url 'doctores:reporteDoc' %}" target="_blank">IMPRIMIR LISTADO</a>

</div>
{% endblock %}