{% extends 'base/base.html' %}

{% block title %}Doctores{% endblock %}

{% block content1 %}
<form method="post">
    {%  csrf_token %}
 <fieldset>
		<legend align="left"><i class="fas fa-user-md"></i> &nbsp; Información básica - Nuevo doctor</legend>
           <div class="container-fluid">
                <div >  <!--class="table-responsive" -->
					<table class="table table-dark table-sm">
						<tr>
                           <td> <label class="bmd-label-floating">MATRICULA PROVINCIAL</label>
                                {{ form.matriculaMP}}</td>
                           <td> <label class="bmd-label-floating">MATRICULA ESPECIALIDAD</label>
                                {{ form.matriculaME}}</td>
                            <td><label class="bmd-label-floating">¿CONVENIO CON OSECAC?</label>{{ form.convenioOSECAC}}</td>
                        </tr>
                         <tr>
                           <td> <label class="bmd-label-floating">NOMBRE</label>
                        {{ form.nombre}}</td>
                            <td><label class="bmd-label-floating"> APELLIDO</label>
                        {{ form.apellidos}}</td>
                             <td><label class="bmd-label-floating">CUIT</label>
                        {{ form.cuit}}</td>
                        </tr>
                        <tr>
                         <!--   <td> <label class="bmd-label-floating">TRABAJA EN</label>{{ form.trabaja_en}}</td>
                            <td> <label class="bmd-label-floating">DOMICILIO</label>{{ form.domicilio}}</td>
                            <td><label class="bmd-label-floating">TELEFONOS</label>{{ form.telefono}}</td>
                            <td><label class="bmd-label-floating">E-MAIL</label>{{ form.email}} </td> -->
                        </tr>
                        <tr>
                            <td align="left"> <label class="bmd-label-floating">ESPECIALIDADES</label>{{ form.especialidad}}</td>

                        </tr>
                    </table>
                </div>

           </div>
    <button type="submit">Guardar </button>
 </fieldset>
</form>
{% endblock %}