{% extends 'base/base.html' %}

{% block title %}Beneficiarios{% endblock %}

{% block content1 %}
<div class="full-box">
<h2 align="left">Beneficiarios  </h2>
    <div class="container-fluid">
				<div class="table-responsive">
					<table class="table table-dark table-sm">
						<thead>
							<tr class="text-center roboto-medium">
                                <tr><th>TIPO DNI</th><th>DNI</th><th>NOMBRE</th><th>LOCALIDAD</th><th>AFILIADO</th><th>ACCIONES</th></tr>
                        </thead>
                            {% for beneficiario in object_list %}
                                <tr>
                                    <td>{{ beneficiario.tipoDNI }}</td>
                                    <td>{{ beneficiario.dni }} </td>
                                    <td> {{ beneficiario.apellidos }} {{ beneficiario.nombre }}</td>
                                    <td> {{ beneficiario.localidad }} </td>
                                    <td> {{ beneficiario.afiliado }} </td>
                                    <td><a class="btn btn-primary" href="{% url 'beneficiario:modificar' beneficiario.id %}">modificar</a>
                                        <a class="btn btn-primary" href="{% url 'beneficiario:eliminar' beneficiario.id %}">eliminar</a> </td>
                                </tr>
                            {% endfor %}
                    </table>
                </div>
    </div>
    <a class="btn btn-primary" href="{% url 'beneficiario:reporte' %}" target="_blank">IMPRIMIR LISTADO</a>
    <a class="btn btn-primary" href="{% url 'practicasMedicas:index' %}">VOLVER</a>
</div>

{% endblock %}
