{% extends 'base/base.html' %}

{% block title %} Inicio de Sesión  |  SIAM {% endblock %}
{% block section %}
{% endblock %}
{% block marco %}
{% endblock %}
{% block content1 %}
<div align="center" class="full-box">
    <div class="container-fluid">

            <div class="login-content"><h1>SIAM</h1> <br><h2> INICIAR SESIÓN</h2>
					<table align="center" class="table table-dark table-sm">
						<thead>
							<tr class="text-center roboto-medium" align="left"> </tr>

                        </thead>

                        <div class="login-form">
                            <form method="post">
                             {%  csrf_token %}
                             <div align="left" class="form-group">
                                 <label><i class="fas fa-user"></i> </label>
                                <input type="text" class="form-control" placeholder="usuario" name="username">
                             </div>
                            <div align="left" class="form-group">
                                  <label><i class="fas fa-lock "></i> </label>
                                <input type="password" class="form-control" placeholder="contraseña" name="password">
                            </div>
                            <input type="submit" class="btn btn-success" value="Entrar">
                             </form>
                        </div>
                    </table>
            </div>
    </div>
</div>

{% endblock %}